.tools-info {
    width: 124px;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.tools-info__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.tools-info__list-item {
    width: 76px;
    border-radius: 8px;
    padding: 16px 4px;
    background-color: white;
    box-sizing: border-box;
    position: relative;
}

.tools-info__label {
    padding: 2px 6px;
    border-radius: 59px;
    background-color: black;
    color: white;
    font-size: 5px;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
}

.tools-info__tools-list {
    display: flex;
    gap: 16px 0px;
    flex-wrap: wrap;
}

.tools-info__tools-list-item{
    height: 15px;
    flex: 0 50%;
    display: flex;
    box-sizing: border-box;
}

.tools-info__tools-list-item:nth-child(odd){
    justify-content: end;
    padding-right: 8px;
}

.tools-info__tools-list-item:nth-child(even){
    justify-content: start;
    padding-left: 8px;
}

.tools-info__icon {
    height: 100%;
}